modules = ["nodejs-18"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "  npm run build"

[[workflows.workflow]]
name = "Hardcore Ninja Game"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "  npm run build"

[[workflows.workflow]]
name = "  npm run build"
mode = "sequential"
author = 43246613

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "  npm run build"

[[workflows.workflow]]
name = "hardcode ninja game"
mode = "sequential"
author = 43246613

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd hardcore_ninja_game && node server/index.js"

[deployment]
run = ["sh", "-c", "cd hardcore_ninja_game && node server/index.js"]

[[ports]]
localPort = 3000
externalPort = 80
